body {
    margin: 0;
    
}

@font-face {
  font-family: CursedTimerUlil;
  src: url(CursedTimerUlil-Aznm.ttf);
}

.container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    background: #4C1D95;
    padding-bottom: 20px; 
    margin: 1px auto;
    text-align: center;
    border-radius: 4px;
    
    
}

#home-score {
    width: autopx;
    height: 60px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    font-family: CursedTimerUlil;
    color: red;
    font-size: 60px;
    text-align: center;
}

#guest-score {
    width: autopx;
    height: 60px;
    background-color: black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    font-family: CursedTimerUlil;
    color: red;
    font-size: 60px;
    text-align: center;
}

button {
    background-color: #4C1D95;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    color: whitesmoke;
    font-family: CursedTimerUlil;
    padding: 3px 5px;
    font-size: 14px
}
h3 {
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 5px; 
    font-size: 170%;
}

.add-on {
    width: 400px;
    display: flex;
    justify-content: space-around;
    background: #4C1D95;
    padding-bottom: 20px; 
    margin: auto;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-content: center;
    border-radius: 4px;
    
}

#new-game {
    width: 200px;
    height: 40pxpx;
    background-color: red;
    border: none;
    margin-top: 10px ;
    
}